<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OpenGxP Password Reset</title>
    </head>

    <body>
        <table align="center" width="600" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <p style="font-size: 20px; font-weight: bold;">Dear {{ fullname }},</p>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px">
                    <p>someone requested to reset the password for your OpenGxP account.</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding-top: 20px">
                    <p style="font-size: 20px; font-weight: bold;"><a href="{{ url }}">Reset Password</a></p>
                </td>
            </tr>
            <tr>
            <tr>
                <td style="padding-top: 20px">
                    <p>Url to copy: <a href="{{ url }}">{{ url }}</a></p>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px">
                    <p style="font-style: italic">This url is valid until {{ expiry_timestamp }} and can only be used once.</p>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px">
                    <p>In case you didn't request the password reset, you can ignore this email.
                        Your password won't change until you create a new password.</p>
                </td>
            </tr>
        </table>
    </body>
</html>