<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OpenGxP Password Reset</title>
    </head>

    <body>
        <table align="center" width="600" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <p style="font-size: 20px; font-weight: bold;">Hello,</p>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px">
                    <p>someone requested to reset the password for an OpenGxP account using this email address.</p>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px">
                    <p>There is no account registered using this email, so no action will happen.
                        However, hereby we would like to inform you about the attempt.</p>
                </td>
            </tr>
        </table>
    </body>
</html>