<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OpenGxP Password Changed</title>
    </head>

    <body>
        <table align="center" width="600" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <p style="font-size: 20px; font-weight: bold;">Dear {{ fullname }},</p>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px">
                    <p>the password for your OpenGxP account has been changed successfully.</p>
                </td>
            </tr>
            <tr>
        </table>
    </body>
</html>